In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [3]:
data=pd.read_csv('data_sales (1).csv')
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,6/17/2021,Southeast,Florida,Orlando,Women's Apparel,$103.00,218,"2,245","$1,257",Online
1,West Gear,1128299,7/16/2021,South,Louisiana,New Orleans,Women's Apparel,$103.00,163,"1,679",$806,Online
2,Sports Direct,1197831,8/25/2021,South,Alabama,Birmingham,Men's Street Footwear,$10.00,700,"7,000","$3,150",Outlet
3,Sports Direct,1197831,8/27/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,575,"8,625","$3,881",Outlet
4,Sports Direct,1197831,8/21/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,475,"7,125","$3,206",Outlet

In [4]:
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'], errors='coerce')

In [5]:
data['Price per Unit'] = data['Price per Unit'].replace('[\$,]', '', regex=True).astype(float)
data['Operating Profit'] = data['Operating Profit'].replace('[\$,]', '', regex=True).astype(float)
data['Total Sales'] = data['Total Sales'].replace('[\$,]', '', regex=True).astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:3: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Bindu Priyanka\AppData\Local\Temp\ipykernel_5960\1408564625.py:1: SyntaxWarning: invalid escape sequence '\$'
  data['Price per Unit'] = data['Price per Unit'].replace('[\$,]', '', regex=True).astype(float)
C:\Users\Bindu Priyanka\AppData\Local\Temp\ipykernel_5960\1408564625.py:2: SyntaxWarning: invalid escape sequence '\$'
  data['Operating Profit'] = data['Operating Profit'].replace('[\$,]', '', regex=True).astype(float)
C:\Users\Bindu Priyanka\AppData\Local\Temp\ipykernel_5960\1408564625.py:3: SyntaxWarning: invalid escape sequence '\$'
  data['Total Sales'] = data['Total Sales'].replace('[\$,]', '', regex=True).astype(float)

In [6]:
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,103.0,218,2245.0,1257.0,Online
1,West Gear,1128299,2021-07-16,South,Louisiana,New Orleans,Women's Apparel,103.0,163,1679.0,806.0,Online
2,Sports Direct,1197831,2021-08-25,South,Alabama,Birmingham,Men's Street Footwear,10.0,700,7000.0,3150.0,Outlet
3,Sports Direct,1197831,2021-08-27,South,Alabama,Birmingham,Women's Street Footwear,15.0,575,8625.0,3881.0,Outlet
4,Sports Direct,1197831,2021-08-21,South,Alabama,Birmingham,Women's Street Footwear,15.0,475,7125.0,3206.0,Outlet

In [7]:
data['Cost'] = data['Total Sales'] - data['Operating Profit']
data['Profit Margin'] = (data['Operating Profit'] / data['Total Sales']) * 100

In [9]:
data.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method,Cost,Profit Margin
0,Walmart,1128299,2021-06-17,Southeast,Florida,Orlando,Women's Apparel,103.0,218,2245.0,1257.0,Online,988.0,55.991091
1,West Gear,1128299,2021-07-16,South,Louisiana,New Orleans,Women's Apparel,103.0,163,1679.0,806.0,Online,873.0,48.004765
2,Sports Direct,1197831,2021-08-25,South,Alabama,Birmingham,Men's Street Footwear,10.0,700,7000.0,3150.0,Outlet,3850.0,45.000000
3,Sports Direct,1197831,2021-08-27,South,Alabama,Birmingham,Women's Street Footwear,15.0,575,8625.0,3881.0,Outlet,4744.0,44.997101
4,Sports Direct,1197831,2021-08-21,South,Alabama,Birmingham,Women's Street Footwear,15.0,475,7125.0,3206.0,Outlet,3919.0,44.996491

In [8]:
cleaned_file_path = "cleaned_sales_data.csv"
data.to_csv(cleaned_file_path, index=False)